.home-page {
    width: 100%;
    margin: auto;
}

h1 {
    font-size: 60px;
    color: #454545;
}

p.lead {
    font-size: 25px;
    margin-bottom: 10px;
}

.column {
    flex: 1;
}

.icon-column {
    flex: 0;
    align-items: center;
    justify-content: center;
}

.upload-column {
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.demo-image {
    width: 410px;
    height: 320px;
}

@media screen and (max-width: 992px) {
    .row {
      flex-direction: column !important; /* !important so that it overrides the inline style because by default it has higher priority */
    padding: 20px !important;
    }
    
    h1 {
        text-align: center;
    }
    
    p.lead {
        text-align: center;
    }

    .demo-image {
        display: none;
    }

    .home-page {
        width: 100%;
    }

    .upload-column {
        margin-left: 0;
    }
  }