.header-landing-page{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}

.header-container {

    width: calc(100%  - 300px);
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    width: fit-content;

}
.nav-row {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 270px;
    height: 80px;
}

.nav-item {
    font-size: 16px;
    font-weight: 400;
    color: #454545;
}

.ml-30 {
    margin-left: 30px;
}